@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


*img {
    background-color: unset;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23ffff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

header button {
    border: 1px solid #6200EE;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Helvetica', sans-serif;
    border-radius: 10px;
    color: #FFFFFF;
}

.one header .nav-link {
    font-family: 'Plus Jakarta Sans', 'Inter' !important;
    font-size: 16.27px !important;
    font-weight: 600 !important;
    color: #484848 !important;
}

.one {
    background-image: url(../assets/header.webp);
    object-fit: cover;
    padding-bottom: 111px
}

.one header nav button {
    background-color: unset;
}

.one img {
    background-color: unset;
}

.one .bdr {
    display: flex;
    align-items: center;
    justify-content: center;
}

.one .bdr h1 {
    border: 1px solid #714EBD;
    box-shadow: 0 0 15px 5px #714EBD;
}

.one .container .bdr h1 {
    font-family: 'Mulish', Arial, ;
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF !important;
    width: max-content;
    padding: 6px 13px 6px 13px;
    border-radius: 13px;
}

.one .container h2 {
    font-family: 'Helvetica', sans-serif;
    font-weight: 600;
    color: #807a7a;
    font-size: 56px;
}

.one .container p {
    font-family: 'Mulish', Arial;
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
    letter-spacing: 2px;
    color: #ACACAC;
    padding-top: 10px;
}

.one .buttons {
    padding-top: 15px;
}

.one .buttons button {
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
    background: rgb(98, 44, 213);
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    /* padding: 7px 27px 7px 27px; */
}
.two .web {
    background-image: url(../assets/Card-bg.png);
    object-fit: cover;
}

.two .container h1 {
    font-family: 'Helvetica', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 130%;
    letter-spacing: 2%;
}

.two .container p {
    font-family: 'Mulish', Arial;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 2%;
}

.two .container .row h1 {
    font-family: 'Helvetica', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: normal;
    letter-spacing: 2%;
    color: #FFFFFF;
}

.two .container .row p {
    color: #FFFFFF;
}

.two .container .row .col-lg-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 29.333333%; */
}

.two .container .row .col-lg-4 img {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px
}

/* .two .container .row .col-lg-6 img {
    width: 88%;
} */

.two .container .row .col-lg-6 {
    display: flex;
    flex-direction: column;
    width: 47% !important;
}

.two .customize {
    height: 410px !important;
}

.two .customize img {
    width: 64% !important;
}

.two .container .row .col-lg-6 .col-lg-12 {
    width: 96% !important;
}

.two .container .row .col-lg-8 {
    width: 59.666667% !important;
}

main {
    margin-top: 10%;
}

main h1 {
    font-family: 'Helvetica', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 130%;
    letter-spacing: 2%;
}

main p {
    font-family: 'Mulish', Arial;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 2%;
}

main .text-center {
    text-align: left !important;
}

main .card {
    border: none;
}

main .card img {
    margin-bottom: 6px;
}

.three h1 {
    font-family: 'Helvetica', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 130%;
    letter-spacing: 2%;
}

.three p {
    font-family: 'Mulish', Arial;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 2%;
}

.three .cards {
    display: flex !important;
    flex-wrap: wrap !important;
}

.three .card h1 {
    font-family: 'Helvetica', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 2%;
}

.three .card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.three .card img {
    width: 90%;
}

.three .card p {
    font-family: 'Mulish', Arial;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 2%;
}

.three .cards .card button {
    margin-top: 15px;
    background-color: #622CD5;
}

.three .buttons button {
    border: none;
    border-radius: 8px;
    background-color: #622CD5;
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 18px;  
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.three .buttons a {
    color: #0D0F14;
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    font-size: 18px;
    offset: 25%;
    font-family: 'Helvetica', sans-serif;
    text-decoration-thickness: 10%;
    text-decoration-skip-ink: true;
    text-decoration-color: #6200EE;
}

.four a {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 18px;
    offset: 25%;
    color: #0D0F14;
    text-decoration-color: #6200EE;
    text-decoration-thickness: 10%;
    text-decoration-skip-ink: true;
}

.four h1 {
    font-family: 'Helvetica', sans-serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 130%;
    letter-spacing: 2%;
}

.four .accordion-button {
    background-color: unset !important;
    font-family: 'Mulish', sans-serif !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    line-height: 150% !important;
    letter-spacing: 2% !important;
}

.four .accordion-button:not(.collapsed) {
    color: unset !important;
    background-color: unset !important;
    font-family: 'Mulish', sans-serif !important;
    font-weight: 700 !important;
    font-size: 20px !important;
    line-height: 150% !important;
    letter-spacing: 2% !important;
}

.four .accordion-button:focus {
    border-color: unset !important;
    box-shadow: none !important;
}

footer h1 {
    font-family: 'Helvetica', sans-serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 130%;
    letter-spacing: 2%;
    color: #FFFFFF;
}

footer p {
    font-family: 'Mulish', sans-serif !important;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 2%;
    color: #FFFFFF;
}

footer .buttun input {
    background: none;
    border: 1px solid gray;
    color: #FFFFFF;
    font-family: 'Mulish', sans-serif !important;
}

footer .buttun input::placeholder {
    background: transparent !important;
    font-family: 'Mulish', sans-serif !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 2%;
    color: #FFFFFF;
}

footer .buttun button {
    border: none;
    background-color: #622CD5;
    font-family: 'Mulish', sans-serif !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 2%;
    color: #FFFFFF;
}

footer .buttun {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul li a {
    font-family: 'Mulish', sans-serif !important;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 2%;
    color: #FFFFFF;
}

footer .copyright {
    font-family: 'Mulish', sans-serif !important;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 2%;
    color: #FFFFFF;
}

footer {
    background-image: url(../assets/footerbg.webp);
    object-fit: cover;
}

@media screen and (max-width:600px) {
    .two .container .row .col-lg-6 {
        display: flex;
        flex-direction: column;
        width: 100% !important;
    }

    .two .container .row .col-lg-6 .col-lg-12 {
        width: 100% !important;
    }

    .two .container .row .col-lg-8 {
        width: 100% !important;
    }

    .two .customize img {
        width: 100% !important;
    }
}

@media (min-width: 425px) and (max-width: 562px) {
    .about {
        font-size: 19px !important;
    }
}

@media (min-width:420px) and (max-width:450px) {
    .two .customize img {
        width: 92% !important;
    }
}

@media screen and (max-width:700px) {
    .one .container h2 {
        font-family: 'Helvetica', sans-serif !important;
        font-weight: 600 !important;
        color: #807a7a !important;
        font-size: 36px !important;
    }

    .one .container p {
        font-family: 'Mulish', Arial !important;
        font-weight: 400 !important;
        font-size: 15px !important;
        line-height: normal !important;
        letter-spacing: 2px !important;
        color: #ACACAC !important;
        padding-top: 10px !important;
    }

    .one .buttons button {
        font-family: 'Helvetica', sans-serif !important;
        font-size: 18px !important;
        background: rgb(98, 44, 213) !important;
        color: #FFFFFF !important;
        border: none !important;
        border-radius: 10px !important;
        padding: 7px 27px 7px 27px !important;
    }

    .one .launch {
        margin-top: 64px !important;
    }

    .two .container h1 {
        font-size: 22px !important;
        text-align: center !important;
    }

    .two .container p {
        font-size: 15px !important;
        text-align: center !important;
    }

    .two .container .row .col-lg-8 {
        min-width: 100% !important;
    }

    main h1 {
        font-family: 'Helvetica', sans-serif !important;
        font-weight: 700 !important;
        font-size: 38px !important;
    }

    main p {
        font-size: 17px !important;
    }

    .three h1 {
        margin-top: 8% !important;
        font-size: 34px !important;
    }

    .three p {
        font-size: 18px !important;
    }

    .three .cards {
        margin-top: 31px !important;
    }

    .three .cards h1 {
        font-size: 23px !important;
        font-family: 'Helvetica', sans-serif !important;
    }

    .three .buttons button {
        font-size: 11px !important;
    }

    .four h1 {
        font-size: 37px !important;
    }

    .four .accordion-button {
        font-size: 17px !important;
    }

    footer h1 {
        font-family: 'Helvetica', sans-serif !important;
        font-weight: 600 !important;
        font-size: 38px !important;
        padding-bottom: 3% !important;
    }

    footer p {
        font-size: 17px !important;
        line-height: 26px !important;
        padding-bottom: 4% !important;
    }
}

@media screen and (width>=1440px) {
    .two .customize img {
        width: 59% !important;
    }
}
@media (min-width:320px) and (max-width:375px) {
    .one .buttons button{
        font-size: 16px!important;
    }
}
@media (min-width:320px) and (max-width:375px){
    .two .container .row .customize h1{
        margin-top: revert!important;
    }
}
@media (min-width:375px) and (max-width:424px) {
    .two .container .row .customize h1{
        margin-top: auto!important;
    }
}
@media (width=768px){
    .two .container .row .col-lg-8 {
         width: 100% !important;
         margin-top: 18px;
    }
}